/*
Copyright 2006 Blizzard Entertainment, Inc.
forums.worldofwarcraft.com Localization CSS 
*/

/*\ Index Page \*/
/*_________________________________________________________________________*/

.index-spacer { height: 55px; }
.tcg { height: 134px; width: 595px; background: url('/images/en_US/udtcg.gif') no-repeat; margin: -20px auto; }
.tcg p { padding: 48px 0 0 155px; }

/*\ Account Options \*/
/*_________________________________________________________________________*/

#post .options-box h1 { background: url('/images/en_US/login-account.gif') no-repeat; }
#post .options-email h2 { background: url('/images/en_US/options-email.gif') no-repeat; }
#post .options-basic h3 { background: url('/images/en_US/options-timezone.gif') no-repeat; }
#post .options-basic h4 { background: url('/images/en_US/options-talents.gif') no-repeat; }
#post .message-top h5 { background: url('/images/en_US/options-signature.gif') no-repeat; }
.options-title { background: url('/images/en_US/options-title.gif') no-repeat; }


/*\ Login Page \*/
/*_________________________________________________________________________*/

.login-title { background: url('/images/en_US/login-title.gif') no-repeat; }
#login-page h4 { background: url('/images/en_US/login-account.gif') no-repeat; }
#login-page h5 { background: url('/images/en_US/login-password.gif') no-repeat; }


/*\ Forum Selector \*/
/*_________________________________________________________________________*/

#forumHead .list { background: url('/images/en_US/header-blank.gif') no-repeat 0 16px;  }


/*\ Post Topic / Reply \*/
/*_________________________________________________________________________*/

.post-title { background: url('/images/en_US/post-title.gif') no-repeat; }
.post-title2 { background: url('/images/en_US/post-title.gif') no-repeat; }
#post h1 { background: url('/images/en_US/post-subject.gif') no-repeat; }
#post h2 { background: url('/images/en_US/post-message.gif') no-repeat; }
#admin-container h1 { background: url('/images/en_US/title-admin.gif') no-repeat; }
#post li.bold { background: url('/images/en_US/button-bold.gif') no-repeat; }
#post li.italic { background: url('/images/en_US/button-italic.gif') no-repeat; }
#post li.underline { background: url('/images/en_US/button-underline.gif') no-repeat; }
#post li.list { background: url('/images/en_US/button-list.gif') no-repeat; }
#post li.tabbed-list { background: url('/images/en_US/button-tabbed-list.gif') no-repeat; }
#post li.hr { background: url('/images/en_US/button-hr.gif') no-repeat; }
#post li.pre { background: url('/images/en_US/button-pre.gif') no-repeat; }
#post li.quote { background: url('/images/en_US/button-quote.gif') no-repeat; }

/*\ Theme Switcher \*/
/*_________________________________________________________________________*/

h1.theme-title { background: url('/images/en_US/theme-select-banner.gif') no-repeat; }

/*\ Language Switcher \*/
/*_________________________________________________________________________*/
h1.language-title { background: url('/images/en_US/language-select-banner.gif') no-repeat; }


/*\ Quick Search \*/
/*_________________________________________________________________________*/


img#forum-menu-quicksearch { left: 203px; }
#search div.advanced-search { background: url('/images/en_US/forum-menu-advanced-search.gif') no-repeat 0 0; left: 288px; }
#search div.advanced-search a:link, #search div.advanced-search a:active, #search div.advanced-search a:visited { background:  transparent; }
#search div.advanced-search a:hover { background:url('/images/en_US/forum-menu-advanced-search.gif') no-repeat 0 -17px; }


/*\ Error Handling \*/
/*_________________________________________________________________________*/

a.redirect, a.redirect:active, a.redirect:visited { display: block; background: url('/images/en_US/button-clickhere.gif') no-repeat; height: 36px; width: 200px; margin: 10px auto; }
a.redirect:hover { background-position: 0 -36px; }