/*\ IE 7 PNG Optimization \*/


body { background-position: top right !important; }
#character-post-info.admin-box, .pinfobackground, .gborder, #errorcontainer div.messages, #searchshell div.searchbox, #character-post-info { background: url('/images/back7.png'); }
.subnav-container {  background: url('/images/back2-7.png'); }
table.board-clear { clear: both; margin: 11px 0 0 0; }